<div class="dashboard-container">
    <div class="first-row">
        <div class="card card-income">
            <div class="card-header-common">
                <p class="card-title">Income</p>
                <p class="card-title">Savings</p>
            </div>
            <div class="card-content-common">
                <div class="row">
                    <div class="col-6 income-col">
                        <div class="card-content-money">
                            <p class="income-money">44,000</p>
                            <p class="money-inc-dec">
                                1%
                                <i class="pi pi-angle-double-up" style="font-size: 1rem"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-6 saving-col">
                        <div class="card-content-money">
                            <p class="saving-money">2,50,000</p>
                            <p class="money-inc-dec">
                                1%
                                <i class="pi pi-angle-double-up" style="font-size: 1rem"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-expenses">
            <div class="card-header-common">
                <p class="card-title">Expenses</p>
                <p class="date-range">Last Month</p>
            </div>
            <div class="card-content-common">
                <div class="row">
                    <div class="col-3">
                        <div class="card-content-money">
                            <p class="money-red">28,400 RS</p>
                            <p class="money-inc-dec">
                                1%
                                <i class="pi pi-angle-double-down" style="font-size: 1rem"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-9">
                        <div echarts [options]="chartOption" class="echart-common"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="second-row">
        <div class="card card-saving">

        </div>
        <div class="card card-investments">
            <div class="card-header-common">
                <p class="card-title">Loans</p>
                <p class="loan-investment">9,00,000</p>
            </div>
            <div class="card-content-common">
                <div class="row">
                    <div class="col12">
                        <div echarts [options]="chartOption1" class="echart-common"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-loans">

        </div>
    </div>
    <div class="third-row">
        <div class="card card-insights">

        </div>
        <div class="card card-cards">

        </div>
    </div>
</div>