<div class="login-container">
    <div class="login-header">
        <ul>
            <li [class.active]="selectedTab === 'Sign In'" (click)="selectTab('Sign In')">
                Sign In
            </li>
            <li [class.active]="selectedTab === 'Sign Up'" (click)="selectTab('Sign Up')">
                Sign Up
            </li>
        </ul>
    </div>
    <div class="login-content row">
        <div class="col-8 left-content">
            <img src="../../assets/Images/login-bg-1.jpg" alt="">
        </div>
        <div class="col-4 right-content">
            <div class="finance-tracker">
                <p>Personal Finance Tracker</p>
            </div>
            <div class="form-container">
                <form *ngIf="selectedTab === 'Sign In'" class="sign-in" [formGroup]="signInForm" (submit)="signIn()">
                    <input type="email" placeholder="Enter Email" formControlName="email">
                    <input type="text" placeholder="Enter Password" formControlName="password">
                    <button>SIGN IN</button>
                </form>
                <form *ngIf="selectedTab === 'Sign Up'" class="sign-up" [formGroup]="signUpForm" (submit)="signUp()">
                    <input type="text" placeholder="Enter First Name" formControlName="firstname">
                    <span class="form-error" *ngIf="firstname && firstname.touched">
                        {{ firstname.errors?.['required'] ? 'First Name is required' :
                        firstname.errors?.['pattern'] ? 'Enter Alphabets Only' :
                        firstname.errors?.['minlength'] ? 'First Name Should At Least 3 Character' : ''
                        }}
                    </span>
                    <input type="text" placeholder="Enter Last Name" formControlName="lastname">
                    <span class="form-error" *ngIf="lastname && lastname.touched">
                        {{ lastname.errors?.['required'] ? 'Last Name is required' :
                        lastname.errors?.['pattern'] ? 'Enter Alphabets Only' :
                        lastname.errors?.['minlength'] ? 'Last Name Should At Least 3 Character' : ''
                        }}
                    </span>
                    <input type="email" placeholder="Enter Email" formControlName="email">
                    <span class="form-error" *ngIf="email && email.touched">
                        {{ email.errors?.['required'] ? 'Email is required' :
                        email.errors?.['email'] ? 'Enter Valid Email' : ''
                        }}
                    </span>
                    <input type="number" placeholder="Enter Phone" formControlName="number">
                    <span class="form-error" *ngIf="number && number.touched">
                        {{ number.errors?.['required'] ? 'Phone Number is required' :
                        number.errors?.['pattern'] ? 'Enter 10 Digit Mobile Number Only' : ''
                        }}
                    </span>
                    <button [disabled]="signUpForm.invalid">SIGN UP</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
</div>