<div class="main">
    <div class="navbar">
        <app-nav-bar class="w-100 h-100"></app-nav-bar>
    </div>
    <div class="outletAndSidebar">
        <div class="sidebar" [ngClass]="isSidebarOpen ? 'sidebarOpen' : 'sidebarClose'">
            <app-side-bar class="h-100" (SidebarToggle)="panelToggle($event)" (SidebarItem)="SelectedSidebarItem($event)"></app-side-bar>
        </div>
        <div class="router-outlet">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>