.main {
  height: 100vh;
}

.navbar {
  height: 6%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #2b8a9b;
}

.outletAndSidebar {
  height: 94%;
  width: 100%;
  display: flex;
  padding: 15px;
}

.sidebar {
  transition: width 0.3s ease;
  background-color: #2b8a9b;
    border-radius: 5px;
}

.sidebarOpen {
  width: 200px;
  height: 100%;
}

.sidebarClose {
  width: 50px;
  height: 100%;
}

.router-outlet {
  height: 100%;
  width: 100%;
  margin-left: 15px;
}

.toggle {
  display: flex;
  align-items: center;
}

.toggle-btn {
  padding: 0;
  border: none;
  background: none;

  .icons {
    font-size: 30px;
    color: gray;
  }
}
